src/main/resources/sector-classes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/soap"
           xmlns:tns="http://example.com/soap"
           elementFormDefault="qualified">

    <!-- Requête pour récupérer tous les secteurs -->
    <xs:element name="getAllSectorsRequest" type="xs:string"/>

    <!-- Réponse contenant la liste de secteurs -->
    <xs:element name="getAllSectorsResponse" type="tns:SectorList"/>

    <!-- Requête pour récupérer une classe par son ID -->
    <xs:element name="getClassByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Réponse contenant une classe -->
    <xs:element name="getClassByIdResponse" type="tns:ClassType"/>

    <!-- Liste de secteurs (utilisée dans la réponse) -->
    <xs:complexType name="SectorList">
        <xs:sequence>
            <xs:element name="sectors" type="tns:SectorType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Définition d’un secteur -->
    <xs:complexType name="SectorType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="classes" type="tns:ClassType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Définition d’une classe -->
    <xs:complexType name="ClassType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="className" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
