src/main/resources/sector-classes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/soap"
           xmlns:tns="http://example.com/soap"
           elementFormDefault="qualified">

    <xs:element name="getAllSectorsRequest" type="xs:string"/>
    <xs:element name="getAllSectorsResponse" type="tns:SectorList"/>

    <xs:element name="getClassByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getClassByIdResponse" type="tns:ClassType"/>

    <xs:complexType name="SectorList">
        <xs:sequence>
            <xs:element name="sectors" type="tns:SectorType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SectorType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="classes" type="tns:ClassType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ClassType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="className" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
